<!-- Δημιουργία του footer -->
    <footer >
             
                <div class="footer-col">
                    <h5>ΒΟΗΘΕΙΑ</h5>
                    <ul>
                        <li><a href="/privacyPolicy">Γενικοί Όροι χρήσης</a></li>
                        <li><a href="/payInfo">Πληροφορίες Πληρωμών</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h5>ΑΚΟΛΟΥΘΗΣΤΕ ΜΑΣ</h5>
                    <div class="social-links">
                        <a href="https://www.facebook.com/pages/%CE%B3%CF%85%CE%BC%CE%BD%CE%B1%CF%83%CF%84%CE%AE%CF%81%CE%B9%CE%BF%20%22kourouklis%22%CE%B1.%CF%83.%20%CE%9A1%20%CE%B4%CE%B1%CE%BD%CE%B1%CF%8C%CF%82/170922846303927/">
                            <i class="fab fa-facebook-f"></i></a>
                        <a href="https://www.instagram.com/k1danaos/"><i class="fab fa-instagram"></i></a>
                    </div>
                </div>
         
   </footer>  

