<!-- Δημιουργία πίνακα με πληροφορίες για τον σύλλογο -->
<div style="display: flex; justify-content:space-around; flex-wrap:wrap; min-height: 75vh" >
<table class="syllogos">
    <thead>
        <tr>
            <th>Αθλητικός Σύλλογος Δαναός</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th> <br> Από τον Νοέμβριο του 2007 μέχρι σήμερα, στις αθλητικές μας εγκαταστάσεις έχουμε δώσει
                το στίγμα μας στο χώρο της άθλησης. Μένοντας πιστοί στη φιλοσοφία μας ότι η γυμναστική
                και η υγεία δεν πρέπει να είναι πολυτέλεια στη ζωή μας, στα χρόνια λειτουργίας μας παρέχουμε
                υψηλής ποιότητας υπηρεσίες σε προσιτές τιμές. Στελεχώνοντας το γυμναστήριο μας με έμπειρους
                και καταρτισμένους γυμναστές αφοσιωμένους στο έργο τους, με ομαδικά προγράμματα
                και personal μαθήματα, δίνοντας τον καλύτερο εαυτό τους στο γυμναστήριο μας, ΜΑΖΙ θα βρούμε
                τον ιδανικό τρόπο εκγύμνασης που σας ταιριάζει! <br> <br>
            </th>
        </tr>
</table>


<!-- Δημιουργία πίνακα με φωτογραφίες του συλλόγου - photo gallery -->
<table class="PhotoGallery" >
    <thead style="margin: 0;">
        <tr>
            <th style="margin: 0;" >Photo Gallery</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th>
                <div class="container" >
                    <div class="panel-main">
                    </div>
                    <div class="perigrafi">
                    </div>
                    <div class="mikrografies">
                    </div>
                    <div class="koubia">
                        <button id="random" type="button"><i class="fa fa-random" aria-hidden="true"
                                style="color: #333352"></i></button>
                        <button id="previous" type="button"><i class="fa fa-arrow-left" aria-hidden="true"
                                style="color: #333352"></i></button>
                        <button id="next" type="button"><i class="fa fa-arrow-right" aria-hidden="true"
                                style="color: #333352"></i></button>
                    </div>
                </div>


                <div class="clearfix"></div>
            </th>
        </tr>
    </tbody>
</table>
</div>

<script type="module" src="main_website/js-files/about.js"></script>