<!--Περιεχόμενο κειμένου της αρχικής σελίδας-->
<div class="heading">
    <p>Γυμναστική / Ομαδικά προγράμματα / Kick-Boxing / Personal training</p>
    <h2>ADDICTED <span> TO GETTING</span> <span class="stronger">STRONGER</span></h2>
    <a href="/subscriptions-html">Μάθε περισσότερα</a>
</div>



<script src='main_website/js-files/home.js'></script>