<section class="basic">
        <!--Περιεχόμενο κειμένου της αρχικής σελίδας-->
        <h2>ΤΡΟΠΟΙ ΠΛΗΡΩΜΗΣ</h2>

</section>
<div class="mainInfo">
        <h4>1. Εντός Γυμναστηρίου</h4>
        <p> Όσοι προτιμούν την πιο παραδοσιακή μέθοδο, μπορούν να προσέρχονται στον χώρο μας και να πληρώνουν με μετρητά
                ή και
                κάρτα στη γραμματεία του γυμναστηρίου μας .</p>


        <h4>2. Μέσω της ιστοσελίδας μας</h4>
        <p> Αν διαθέτετε πιστωτική / χρεωστική κάρτα VISA, MasterCard ή Paypal μπορείτε να τη χρησιμοποιήσετε με
                ασφάλεια μέσα από την
                φόρμα παραγγελίας μας απο την άνεση του σπιτιού σας και να αγοράσετε την συνδρομή που σας ταιριάζει με
                μερικά μόνο κλικ!
                Θα παραλάβετε την κάρτα σας απο την γραμματεία του γυμναστηρίου μας, την ίδια μέρα που πραγματοποιήσατε
                την πληρωμή.</p>

</div>





<script src="main_website/js-files/payInfo.js"></script>