<!-- Δημιουργία του div services που περιέχει τα containers με τις υπηρεσίες-->
<div class="services">
    <div class="content-box">
        <div class="img"> </div>
        <div class="img-text">
            <span class="header"><strong>Kick boxing</strong></span>
            <p>Το Kick Boxing είναι ένα δυναμικό, εντυπωσιακό και απαιτητικό άθλημα που συνδυάζει πυγμαχία και
                λακτίσματα. Πρόκειται για μια πολύ δημοφιλή πολεμική τέχνη η οποία ενδείκνυται και για τα δύο φύλα αλλά
                και για μεγάλο φάσμα ηλικιών και φυσικής κατάστασης.</p>
        </div>
    </div>
    <div class="content-box">
        <div class="img"> </div>
        <div class="img-text">
            <span class="header"><strong>Pilates</strong></span>
            <p>Το Pilates είναι ένα ολοκληρωμένο σύστημα εκγύμνασης, ένα μοναδικό σύστημα ασκήσεων διάτασης και
                ενδυνάμωσης που αποτελείται από ασκήσεις εδάφους αλλά και ασκήσεις με όργανα (μπάλες, λάστιχα) και είναι
                κατάλληλη για όλους.</p>
        </div>
    </div>
    <div class="content-box">
        <div class="img"> </div>
        <div class="img-text">
            <span class="header"><strong>Zumba</strong></span>
            <p>Διασκεδαστική, με έντονο ρυθμό και πάντα διαφορετική, η Zumba είναι ένα είδος προπόνησης που περιλαμβάνει
                στοιχεία από αερόμπικ και χορό, που είναι κατάλληλο για όλους. </p>
        </div>
    </div>
    <div class="content-box">
        <div class="img"> </div>
        <div class="img-text">
            <span class="header"><strong>Body Pump</strong></span>
            <p>Το Bodypump ένα πολύ δημοφιλές πρόγραμμα που συνδυάζει τα ελευθέρα βάρη για τη μείωση του σωματικού
                λίπους, τη μυική ενδυνάμωση και τη βελτίωση της φυσικής κατάστασης σε σύντομο χρονικό διάστημα.</p>
        </div>
    </div>
    <div class="content-box">
        <div class="img"> </div>
        <div class="img-text">
            <span class="header"><strong>Cross training</strong></span>
            <p>Η κυκλική ή διασταυρούμενη προπόνηση, όπως μπορεί να μεταφραστεί ελεύθερα το cross training, είναι μια
                νέα μέθοδος προπόνησης όπου εναλλάσσονται ασκήσεις - αερόβιες και αναερόβιες - και οι μύες που
                χρησιμοποιούνται κάθε φορά.</p>
        </div>
    </div>
    <div class="content-box">
        <div class="img"> </div>
        <div class="img-text">
            <span class="header"><strong>Hips and abs</strong></span>
            <p> To Ηips & abs είναι ένα δυναμικό πρόγραμμα γυμναστικής που δίνει ιδιαίτερη έμφαση στις περιοχές
                συγκεκριμένων μυϊκών ομάδων, των κοιλιακών, των ραχιαίων και των γλουτών. Περιλαμβάνει συνδυασμό
                ασκήσεων με το βάρος του σώματος, αλλά και με εξοπλισμό και με στρώμα.</p>
        </div>
    </div>
    <div class="content-box">
        <div class="img"> </div>
        <div class="img-text">
            <span class="header"><strong>TRX</strong></span>
            <p>Tο TRX είναι μια ειδική μέθοδος προπόνησης με ιμάντες που χρησιμοποιεί τη βαρύτητα και το βάρος του
                σώματός, για την ανάπτυξη δύναμης, ισορροπίας, συντονισμού, ευλυγισίας και σταθερότητας του κορμού και
                των αρθρώσεων.</p>
        </div>
    </div>
    <div class="content-box">
        <div class="img"> </div>
        <div class="img-text">
            <span class="header"><strong>Personal training</strong></span>
            <p>Είτε θέλεις να κάνεις τα πρώτα σου βήματα στη γυμναστική, είτε δεν βλέπεις αποτελέσματα από την
                γυμναστική που κάνεις, ένας personal trainer μπορεί να σου δώσει όλα εκείνα τα εφόδια για να πετύχεις
                τους στόχους σου.</p>
        </div>
    </div>
</div>






<script src='main_website/js-files/services.js'>

</script>