   
    <!--Περιεχόμενο κειμένου της αρχικής σελίδας-->
    <div class="basic">
        <p>Παρακαλούμε ελέγξτε το email σας για να επαληθεύεσετε τον λογαριασμό σας.</p>
        <a href="#" {{#if email}} id={{email}} {{/if}}>Επαναποστολή email επιβεβαίωσης</a>
    </div>

 

 <script  src="main_website/js-files/waitingForVer.js"></script>

